body
{
  background: #3F3F49;
	font-family:sans-serif;
	color : #fff;
}

.navbar {
	margin-bottom: 0px;
}

/* edit textarea */

textarea
{
	background-color:transparent;
	border:0;
	outline:0;
	resize:none;
	color:#fff;
	width:100%;
	box-sizing:border-box;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 12px;
}


.prettyprint, textarea
{
	height: 100%;
  width: 100%;
	line-height:1.8em;
	position: fixed
}

textarea
{
	padding:3em;
}

/* code prettify styles */
.prettyprint
{
	overflow:auto;
	white-space:pre-wrap;
	background-color:#fff;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.prettyprint ol
{
	color:#777;
	padding:2em 3em 2em 5em;
}

.prettyprint code
{
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
}

.prettyprint ol li
{
	padding:0;
}

.pln { color:#fffefe!important; }
pre .str { color:#f4645f; }
pre .kwd { color:#4bb1b1; }
pre .com { color:#888888; }
pre .typ { color:#ef7c61; }
pre .lit { color:#bcd42a; }
pre .pun,
pre .opn,
pre .clo { color:#ffffff; }
pre .tag { color:#4bb1b1; }
pre .atn { color:#ef7c61; }
pre .atv { color:#bcd42a; }
pre .dec { color:#ffffff; }
pre .var { color:#660066; }
pre .fun { color:#ff0000; }

pre.prettyprint
{
  background: #3F3F49;
  border: 0!important;
  border-radius: 2px;
	display: block;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: monospace;
}

pre.prettyprint span
{
	font-size: 13px!important;
	/*font-weight: 600!important;*/
}

ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}

ol.linenums li
{
    background: transparent!important;
    color: #888888;
    list-style-type: decimal !important;
    font-size: 14px!important;
}

ol li.selected
{
	background: #616169 !important;
}
