body
{
	background-color:#222;
	margin:0;
	font-family:sans-serif;
	color : #fff;
}

/* header */

.header
{
	z-index:999;
	padding:0.5em 0.6em 0.6em 0.5em;
	position:fixed;
	top:1em;
	right:1.4em;
	overflow:hidden;
	background-color:transparent;
	background-color:rgba(34,34,34,0.7);
}

.header:hover
{
	background-color:#222;
}

.logo
{
	opacity:0.8;
	float:right;
	margin-bottom:0.3em;
}

.logo:hover
{
	opacity:1;
}

/* menu / buttons */

.buttons
{
	margin:0;
}

.buttons li
{
	display:inline;
	float:right;
}

.buttons li a, .buttons li a:visited
{
	display:inline-block;
	background-color:#444;
	color:#aaa;
	padding:0.2em 0.5em 0.2em 0.5em;
	text-decoration:none;
	text-transform:uppercase;
	font-size:0.8em;
	font-weight:bold;
}

.buttons li a:hover
{
	background-color:#EB4D09;
	color:#fff;
	text-shadow:0 1px 1px #75360C;
}

.buttons li:first-child a
{
	border-radius:0 3px 3px 0;
}

.buttons li:last-child a
{
	border-radius:3px 0 0 3px;
	border-right:1px solid #3d3d3d;
}

.buttons li a.save
{
	border-radius:3px;
}

/* edit textarea */

textarea
{
	background-color:transparent;
	border:0;
	outline:0;
	resize:none;
	color:#ddd;
	width:100%;
	box-sizing:border-box;
	padding:2.5em;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 12px;
}


.prettyprint, textarea
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	line-height:1.8em;
}

textarea
{
	padding:3em;
}

/* code prettify styles */
.prettyprint
{
	overflow:auto;
	white-space:pre-wrap;
	background-color:#222;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.prettyprint ol
{
	color:#777;
	padding:2em 3em 2em 5em;
}

.prettyprint code
{
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
}

.prettyprint ol li
{
	padding:0;
}

.com
{
  color: #555;
}

.lit
{
  color: #17CFB6;
}

.pun, .opn, .clo
{
  color: #93a1a1;
}

.fun
{
  color: #dc322f;
}

.str, .atv
{
  color: #E3B446;
}

.kwd, .linenums .tag
{
  color: #DB613B;
}

.typ, .atn, .dec, .var
{
  color: #fff;
}

.pln
{
  color: #ccc;
}

.selected
{
	background-color: #555;
}
