body
{
  background: #3F3F49;
	margin:0;
	font-family:sans-serif;
	color : #fff;
}

/* header */

.header
{
	z-index:999;
	padding:0.5em 0.6em 0.6em 0.5em;
	position:fixed;
	top:1em;
	right:1em;
	overflow:hidden;
	background-color:transparent;
	background-color:rgba(255, 255, 255, 0.7);
}

.header:hover
{
	background-color:rgba(255, 255, 255, 1);
}

.logo
{
	opacity:0.8;
	margin-bottom:0.3em;
	display: block;
	text-align: center;
}

.header:hover .logo
{
	opacity:1;
}

/* menu / buttons */

.buttons
{
	margin:0;
	padding: 0;
}

.buttons li
{
	display:inline;
	float:right;
}

.buttons li a, .buttons li a:visited
{
	display:inline-block;
	background-color:#444;
	color:#fff;
	padding:0.2em 0.5em 0.2em 0.5em;
	text-decoration:none;
	text-transform:uppercase;
	font-size:0.8em;
	font-weight:bold;
}

.buttons li a:hover
{
	background-color:#f97063;
	color:#fff;
	text-shadow:0 1px 1px #75360C;
}

.buttons li:first-child a
{
	border-radius:0 3px 3px 0;
}

.buttons li:last-child a
{
	border-radius:3px 0 0 3px;

}

.buttons li a.save
{
	border-radius:3px;
}

/* edit textarea */

textarea
{
	background-color:transparent;
	border:0;
	outline:0;
	resize:none;
	color:#fff;
	width:100%;
	box-sizing:border-box;
	padding:2.5em;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 12px;
}


.prettyprint, textarea
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	margin:0;
	line-height:1.8em;
}

textarea
{
	padding:3em;
}

/* code prettify styles */
.prettyprint
{
	overflow:auto;
	white-space:pre-wrap;
	background-color:#fff;
	font-size: 12px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.prettyprint ol
{
	color:#777;
	padding:2em 3em 2em 5em;
}

.prettyprint code
{
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
}

.prettyprint ol li
{
	padding:0;
}

.pln { color:#fffefe!important; }
pre .str { color:#f4645f; }
pre .kwd { color:#4bb1b1; }
pre .com { color:#888888; }
pre .typ { color:#ef7c61; }
pre .lit { color:#bcd42a; }
pre .pun,
pre .opn,
pre .clo { color:#ffffff; }
pre .tag { color:#4bb1b1; }
pre .atn { color:#ef7c61; }
pre .atv { color:#bcd42a; }
pre .dec,
pre .var { color:#660066; }
pre .fun { color:#ff0000; }

pre.prettyprint
{
  background: #3F3F49;
  border: 0!important;
  border-radius: 2px;
	display: block;
	overflow: hidden;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: monospace;
}

pre.prettyprint span
{
	font-size: 13px!important;
	/*font-weight: 600!important;*/
}

ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
}

ol.linenums li
{
    background: transparent!important;
    color: #888888;
    list-style-type: decimal !important;
    font-size: 14px!important;
}

.selected
{
	background-color: #555;
}
